@page "/"

<PageTitle>Index</PageTitle>

<div class="container">

<div class="mb-3">
<h1>VMCTransportHubClient</h1>
</div>

<div class="mb-3">
    <p>
        VMCTransportHubClient is a software that provides real-time communications using 
        <a href="https://protocol.vmc.info/specification" target="_blank">Virtual Motion Capture Protocol (VMC Protocol)</a>
        .
    </p>
    <p>
        VMCTransportHubClientは
        <a href="https://protocol.vmc.info/specification" target="_blank">Virtual Motion Capture Protocol (VMC Protocol)</a>
        を用いてリアルタイム通信するためのソフトウェアです。
    </p>
</div>

<div class="mb-3">
    <h2>VMC Protocol Specification</h2>
    <ul>
        <li><a href="https://protocol.vmc.info/specification" target="_blank">VMC Protocol</a></li>
        <li><a href="https://github.com/sotanmochi/VMCTransportBridge/blob/develop/docs/VMCProtocolExtension.md" target="_blank">VMC Protocol Extension</a></li>
    </ul>
</div>

</div>