@page "/others"

@inject ApplicationContext ApplicationContext;

<PageTitle>Others</PageTitle>

<div class="container">

<div class="mb-3">
<h2>Configuration File</h2>
</div>
<div class="mb-3">
<h5>@ApplicationContext.ConfigurationFileName
<button class="btn btn-primary" @onclick="OpenConfigurationFile">Open</button>
</h5>
</div>

<hr class="mb-3">

<div class="mb-3">
<h2>License</h2>
</div>
<div class="mb-3">
    @((MarkupString)_licenceHtml)
</div>

<hr class="mb-3">

<div class="mb-3">
<h2>Third party notices</h2>
</div>
<div class="mb-3">
    @((MarkupString)_thirdPartyNoticesHtml)
</div>

<hr class="mb-3">

</div>

@code {
    private string _licenceHtml;
    private string _thirdPartyNoticesHtml;

    protected override async Task OnInitializedAsync()
    {
        _licenceHtml = await ApplicationContext.GetLicenseHtmlAsync();
        _thirdPartyNoticesHtml = await ApplicationContext.GetThirdPartyNoticesHtmlAsync();
    }

    private void OpenConfigurationFile()
    {
        ApplicationContext.OpenConfigurationFile();
    }
}